.card {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .product-card {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: none;
    height: 100%;
  }
  
  .product-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
  }
  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  
  .product-price {
    margin-top: auto;
  }
  .card-title {
    font-size: 1.1rem;
    font-weight: bold;
  }
  
  .card-text {
    font-size: 0.9rem;
    color: #6c757d;
  }

  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    padding: 10px 0;
  }
  
  .btn-primary:hover {
    background-color: #0069d9;
    border-color: #0062cc;
  }

  .pagination-controls {
    margin: 0 auto;
  }

.go-to-cart {
  background: linear-gradient(45deg, #007bff, #00bcd4); 
  border: none;
  color: white;
  font-size: 1.1rem;
  padding: 12px 24px;
  border-radius: 30px;
  text-transform: uppercase; 
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease-in-out; 
}

.go-to-cart:hover {
  background: linear-gradient(45deg, #0069d9, #0097a7);
  transform: translateY(-5px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.go-to-cart:focus {
  outline: none;
  box-shadow: 0 0 0 4px rgba(0, 123, 255, 0.5);
}

  
  @media (max-width: 768px) {
    .card-title {
      font-size: 1.1rem;
    }
  
    .card-text {
      font-size: 0.85rem;
    }
  }
  